@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=UnifrakturMaguntia&display=swap');

:root{
    --accent-color: #E3B505;
    --primary-color: #2C363F;
    --secondary-color: #1B1B1E;
    --text-color: #fffcf9;
    --secondary-text-color: #D2D2D2;
}

*{
    padding: 0px;
    margin: 0px;
}

html{
    font-family: Poppins, 'Segoe UI', sans-serif;
    font-size: 14pt;
    color: var(--text-color);
    background-color: var(--primary-color);
}

body{
    min-height: 100vh;
}

nav{
    background-color: var(--secondary-color);
    position: sticky;
    top: 0px;

    z-index: 10;
}

nav#inner-nav{
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    max-width: 1080px;

    position: sticky;
    top: 0px;

    z-index: 11;
}

nav#inner-nav h1{
    font-size: 2rem;
}

nav#inner-nav p{
    color: var(--secondary-text-color);
}

nav .right-items{
    display: flex;
    margin-left: auto;
}

i {
    font-size: 36px;
    color: var(--text-color);
    margin: 10px;
}

i:hover{
    color: var(--accent-color);
}

#header-div{
    margin: 20px;
}

header{
    display: flex;
    max-width: 1080px;
    margin: 0px auto;
    margin-top: 50px;
    align-content: center;

    padding-left: 20px;
    padding-right: 20px;
}

header img{
    max-width: 300px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px black;
    align-self: center;
    border: 5px solid var(--accent-color);
}

header p{
    align-self: center;
    margin-left: 50px;
}

#projects{
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 50px;
}

#projects h2{
    text-align: center;
    font-size: 2rem;
}

#projects .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px;
}

#projects .items{
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    background-color: var(--secondary-color);
}

#projects .items h3{
    color: var(--accent-color);
    font-weight: 600;
    padding-left: 10px;
}

#projects .items p{
    font-size: 1rem;
    padding: 0px 10px 10px 15px;
    padding-bottom: 20px;
    font-weight: 300;

    color: var(--secondary-text-color);
}

#projects video{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    max-width: 100%;
}

.video-brightness video{
    transition: filter 0.4s ease-in-out;
    filter: brightness(1);
    filter: saturate(1);
}

.video-brightness:hover video{
    filter: brightness(1.2); 
    filter: saturate(1.6);
}

.video-brightness span.text{
    transition: filter 0.4s ease-in-out;
    filter: brightness(1); 
}

.video-brightness:hover span.text{
    filter: brightness(1.5); 
}

#projects .items span.text{
    color: var(--accent-color);
    padding-left: 10px;
    font-weight: 500;
    font-size: 1.25rem;
}

#projects a{
    text-decoration: none;
}

@media (max-width: 768px){
    #projects .container{
        grid-template-columns: 1fr;
    }

    header img{
        display: none;
    }

    #skills #skill-flex{
        flex-direction: column;
        align-items: flex-start;
    }

    #skills #skill-flex .skill-box{
        width: 120px;
        text-align: center;
    }
}

section#skills{
    margin: 0px auto;
    max-width: 1080px;
}

#skills h2{
    margin: 20px;
    max-width: 1080px;
}

#skills #skill-flex{
    margin: 20px;
    display: flex;
    gap: 10px;
}

section#skills div#skill-flex .skill-box{
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
    color: var(--text-color);
    border: 2px solid var(--accent-color);
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
}

section#about-me{
    max-width: 1080px;
    margin: 0px auto;
}

section#about-me  div{
    margin: 20px;
}

section#about-me  div p{
    margin: 10px;
    color: var(--secondary-text-color);
}